:root {
  --main-font-family: 'Roboto', sans-serif;
  --second-font-family: 'Raleway', sans-serif;
  --main-background-color: #ffffff;
  --main-text-color: #434445;
  --main-title-color: #2e2f42;
  --main-subtitle-color: #2e2f42;
  --main-hover-color: #404bbf;
  --footer-hover-social-icon: #31d0aa;
  --accent-color: #4d5ae5;
  --white-color: #ffffff;
  --light-color: #f4f4fd;
  --light-slate: #8e8f99;
  --btn-portfolio-background-color: #e7e9fc;
}
/* ==============Default============== */
body {
  font-size: 16px;
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* =================================== */
/* ==============Components=========== */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--main-title-color);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* =================================== */
/* ==============Header=============== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  column-gap: 76px;
  align-items: center;
}
.logo {
  font-family: var(--second-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.logo-span {
  color: var(--accent-color);
}
.menu-list {
  display: flex;
  column-gap: 40px;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.contact-menu {
  font-style: normal;
  margin-left: auto;
}
.contact-list {
  display: flex;
  column-gap: 40px;
}
.contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--main-hover-color);
}
.contact:hover,
.contact:focus {
  color: var(--main-hover-color);
}
/* =================================== */
/* ================Hero=============== */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--main-title-color);
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
}
.hero-button {
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--accent-color);
  color: var(--white-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--main-hover-color);
}
/* =================================== */
/* ==============Features============= */
.features-list {
  display: flex;
  column-gap: 24px;
}
.features-item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: calc((100% - 3 * 24px) / 4);
}
.features-icon-container {
  display: flex;
  height: 112px;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
}
.features-subtitle {
  color: var(--main-title-color);
}
/* =================================== */
/* ==============Services============= */
.services {
  padding-bottom: 120px;
}
.services-container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.services-list {
  display: flex;
  column-gap: 24px;
}
/* =================================== */
/* ================Our Team=============== */
.team {
  background-color: var(--light-color);
}
.team-container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.team-list {
  display: flex;
  column-gap: 24px;
}
.team-item {
  width: calc((100% - 3 * 24px) / 4);
}
.team-card-content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  padding: 32px 16px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-name {
  color: var(--main-title-color);
}
.team-role {
  color: var(--main-text-color);
}
.social-list {
  display: flex;
  column-gap: 24px;
}
.social-list-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 50%;
}
.social-icon {
  fill: var(--light-color);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--main-hover-color);
}
/* =================================== */
/* =============Customers============= */
.customers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
}
.customers-list-logo {
  display: flex;
  column-gap: 24px;
}
.customers-link-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-slate);
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 168px;
  height: 88px;
}
.customers-logo {
  fill: currentColor;
}
.customers-link-logo:hover,
.customers-link-logo:focus {
  color: var(--main-hover-color);
}
/* =================================== */
/* ===============Footer============== */
.footer {
  background-color: var(--main-title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
}
.footer-brand {
  margin-right: 120px;
  max-width: 264px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}
.footer-text {
  color: var(--light-color);
}
.footer-social {
  display: flex;
  flex-direction: column;
}
.footer-title {
  color: var(--white-color);
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-social-list {
  display: flex;
  column-gap: 16px;
}
.footer-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 50%;
  color: var(--light-color);
}
.footer-social-icon {
  fill: currentColor;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--footer-hover-social-icon);
}
/* =================================== */
/* ==================Portfolio================== */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-filters-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-filters-btn {
  padding: 12px 24px;
  border: 1px solid var(--btn-portfolio-background-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--light-color);
}
.portfolio-filters-btn:hover,
.portfolio-filters-btn:focus {
  color: var(--white-color);
  background-color: var(--main-hover-color);
  border: 1px solid transparent;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-list-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
